{
 "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=jptechlift;Username=postgres;Password=jptechlift"
  },
  "Jwt": {
    "Secret": "YOUR_SUPER_SECRET_KEY_MUST_BE_LONG_ENOUGH"
  }
}
