// 🌈 Root Color
:root {
  --color-main: #041e42;
  --color-red: #d64344;
  --color-yellow: #cba052;
  --color-white: #ffffff;
  --color-gray: #bfbfbf;
}
.footer {
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 14px;

  .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 48px 64px;
    gap: 32px;
    border-bottom: 1px solid var(--color-gray);

    .column {
      display: flex;
      flex-direction: column;
      gap: 12px;
      position: relative;

      // Nếu không phải cột cuối → thêm đường kẻ
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: -16px;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: var(--color-gray);
      }

      h4 {
        font-weight: 600;
        margin-bottom: 12px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 6px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 1.6;
      }

      .logo {
        max-width: 140px;
        margin-bottom: 12px;
      }

      .socials {
        display: flex;
        margin-top: 8px;
        margin-left: 7%;

        a {
          display: inline-block;
          padding: 0 8px;
          transition: 0.3s ease;
          img {
            width: 20px;
            height: 20px;
            object-fit: contain;
          }

          &:hover {
            transform: scale(1.1);
            filter: brightness(1.2);
          }
        }
      }
    }

    .map {
      iframe {
        width: 94%;
        height: 160px;
        border: 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // nhẹ cho đẹp hơn
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 64px;

    .links {
      display: flex;
      gap: 24px;

      a {
        display: inline-block;
        display: flex;
        gap: 10px;
        padding: 0 8px;
        transition: 0.3s ease;
        color: white;
        text-decoration: none;
        img {
          width: 28px;
          height: 28px;
          object-fit: contain;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
